/* Estilos generales */

/* Estilos específicos para cada sección */

.menu-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

.menu-item button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #000;
}
  
  .linea-horizontal {
    width: 50%; /* ajusta el ancho según sea necesario */
    margin: 20px auto; /* centra la línea horizontal */
    border-style: solid;
    border-width: 1px; /* ajusta el grosor según sea necesario */
    background-color: #020202;
  }
  